@import '../../node_modules/bootstrap/scss/bootstrap.scss'
@font-face 
    font-family: "poppins"
    src: url("../../public/fonts/Poppins-Regular.ttf") format("truetype")



// $gris = #858383

img
    height: 2rem
    width: 10rem
    margin-top: 3rem

nav
    #connexion
        font-size: 0.8rem

    .carreNoir
        height: 2rem
        width: 2rem

    .carreBlanc
        width: 2rem
        height: 2rem
        border: 1px solid black

    .divButton
        position: absolute
        right: 5rem

#sectionShop
    background-color: rgb(243, 243, 243)
    
    img
        height: 40rem
        width: 38rem

